
    <h1><i class="fi-list"></i>List All Contacts</h1>

<table>
  <thead>
    <tr class="even">
      <th></th>
      <th></th>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <!-- <th class="odd">Notes</th> -->
    </tr>
  </thead>
    <% @contacts.each_with_index do |contact,index| %>
    <tr>
        <td><a href="/contacts/delete/<%= contact.id %>"><i class="fi-x"></i></a></td>
        <td><a href="/contacts/edit/<%= contact.id %>"><i class="fi-page-edit"></i></a></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <!-- <td <%= class_odd_or_even index %>><%= contact.notes %></td> -->
    </tr>
    <% end %>
  </tbody>
</table>

