
    <h1>List All Contacts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>
    <% @contacts.each do |contact| %>
    <tr>
        <td><a href="/contacts/edit/<%= contact.id %>">Edit</a></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.notes %></td>
        <td><a href="/contacts/<%= contact.id %>">Delete</a></td>
    </tr>
    <% end %>
  </tbody>
</table>

    <ul>
      <% @contacts.each do |contact| %>
      <li><%= contact.first_name %> <%= contact.last_name %>
          <%= contact.email %><%= contact.notes %></li>
      <% end %>
    </ul>
